*.egg-info
*.pyc
.Python
.cache
.coverage
.pytest_cache
.sass-cache/
.tox
/.bundle
/.last-stack
/.vscode
/aws.env
/build
/coverage
/deployment/build
/docs/_build
/ecs.yml
/env
/node_modules
/nomsite.yml
/package-lock.json
/proximation.yml
/ruby
/vendor
/wheels
Gemfile.lock
config.json
htmlcov/
secret_pair.json
static/css/
twistd*
twisted/plugins/*.cache
yarn-error.log
yarn.lock

/recipe.search
