lib
include
bin/activate*
bin/easy_install*
bin/pip*
bin/python* 
bin/cftp
bin/ckeygen
bin/conch
bin/mailmail
bin/manhole
bin/pyhtmlizer
bin/tap2deb
bin/tap2rpm
bin/tkconch
bin/trial
bin/twistd
.Python
twistd*
*.pyc
config.json
twisted/plugins/*.cache
_trial_temp*
secret_pair.json
.coverage
htmlcov/
.cache
.sass-cache/
static/css/