attrs
awscli
boto3
characteristic
circus
codado>=0.5.0
contextdecorator
coverage
crosscap
docker>=2.2.0
docker-compose
gitpython
humanhash
itsdangerous
jinja2
klein 
microdata
mock
mongoengine
mongomock
pip
pytest-flakes
pytest-cov
pytest-twisted
pytest>=3.0
pyOpenSSL
pytz
service_identity
sphinx 
sphinx-autobuild
sphinx_rtd_theme
treq
twisted
watchdog
