attrs
awscli
characteristic
codado>=0.3.3
contextdecorator
coverage
docker>=2.2.0
gitpython
humanhash
itsdangerous
jinja2
klein 
microdata
mock
mongoengine
mongomock
pip
pytest-flakes
pytest-cov
pytest-twisted
pytest>=3.0
pyOpenSSL
pytz
service_identity
treq
twisted
watchdog
