<!-- Universal Header -->
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href= "//cdn.jsdelivr.net/bootstrap-social/4.12.0/bootstrap-social.css"></link>

<!-- cddn --> 
<link href="//d2my2c6k7ufqsm.cloudfront.net/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"> 

<!-- imported fonts from google fomts  -->
<link href="//fonts.googleapis.com/css?family=Give+You+Glory|Old+Standard+TT" rel="stylesheet">

<span ng-controller="Preload">
  
<!-- data preloaded by the server, becomes part of the Noms scope in angular -->
<script>
<% set nomsPreload = preload or none %>
window.nomsPreload = '<< nomsPreload | json >>';
</script>
</span>


<!-- End Universal Header -->