<!-- Universal Header -->
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href= "//cdn.jsdelivr.net/bootstrap-social/4.12.0/bootstrap-social.css"></link>

<!-- cddn --> 
<link href="//d2my2c6k7ufqsm.cloudfront.net/angular-xeditable/dist/css/xeditable.css" rel="stylesheet"></link>
<script src="//d2my2c6k7ufqsm.cloudfront.net/angular-xeditable/dist/js/xeditable.js"></script>
<link href="//d2my2c6k7ufqsm.cloudfront.net/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"> 

<script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- imported fonts from google fomts  -->
<link href="//fonts.googleapis.com/css?family=Give+You+Glory|Old+Standard+TT" rel="stylesheet">

<span ng-controller="Preload">
  
<!-- data preloaded by the server, becomes part of the Noms scope in angular -->
<script>
<% set nomsPreload = preload or none %>
window.nomsPreload = '<< nomsPreload | json >>';
</script>
</span>


<!-- End Universal Header -->