<!doctype html>
<html>
  <head>
    <title>Nom Clips</title>
    <script src="scripts/3p/angular.min.js"></script>
    <script src="scripts/noms/clipper.js"></script>
  </head>
  <body ng-app="clipper">
    <div ng-controller="Clipper"> 
      <h1>Noms Clipper</h1>
      <p>{{ message }}</p>
      <ul ng-show="saved" ng-repeat="r in recipes">
        <li>
          <a target="noms" ng-href="http://localhost:8080/recipes/{{ r.urlKey }}">{{ r.name }}</a>
        </li>
      </ul> 
      <button ng-click="saveme()" id="checkPage">Clip this recipe!</button>
    </div>
  </body>
</html>