// variables 
$standard-font: Arial, Helvetica, sans-serif; 

// main colors 
$black: #000000;
$white: #ffffff; 
$light-grey: #D3D3D3; 
$sea-green: #3CB371; 

// jokes 
$hotpink: #FF69B4;  
$light-pink: #FFB6C1; 
$hot-green: #00FF00; 


