.form {
     padding: 32px;
     width: 75%; 
     background-color: $hot-green;
}

.row { 
    padding: 10px; 
    background-color: $white; 
}

label { 
    font-weight: bold; 
    display: block; 
}

input {
    display: block; 
}