$white: #FFFFFF; 
$black: #000000;
$light-pink: #FFB6C1; 

.jumbo { 
  // display and size
  background-color: $black; 
  // background-image: url("../images/cookie-monster.jpg");
  display: block; 
  width: 100%; 
  height: 300px; 
  margin: 0px; 

  // container inside the jumbotron 
  .container { 
    padding: 40px; 
    h1 { 
      color: $white; 
    }
    p { 
      color: $white;
    }
  }
}

.three { 
  // display and size 
  display: block; 
  width: 100%;
  height: auto; 

  .section { 
    background-color: $light-pink; 
    display: inline-block; 
    margin: 20px;
    padding: 20px; 
    width: 28%; 
    height: 180px; 
  }
}