.main-container {
    display: block; 
    background: $white; 
    margin: 0px 40px 0px 40px; 
    padding: 20px; 
}

.jumbo {
  background: $hotpink; 
  background: green; 
  padding: 30px; 
  h1 { 
      color: $white; 
  }
  p { 
      color: $white;
  }
}
