// top-level home page 

.main-container {
    display: block; 
    background: $color1; 
    margin: 0px 40px 0px 40px; 
    padding: 20px; 
}

.jumbo {
  background: $color4; 
  padding: 30px; 
  margin-bottom: 20px; 
  h1 { 
      color: $color1; 
  }
  p { 
      color: $color1;
  }
}
