.nav-list { // ul 
    list-style-type: none;
    overflow: auto; 

    &:first-child { 
        padding: 10px 40px 10px 40px;
        margin: 0px; 
        background: $black; 
        .link { 
            color: $white; 
        }
        li {
            float: right; 
        }
    }

    li { 
        float: left; 
        margin-left: 20px; 
        &:first-child { 
            margin-left: 0; 
        }
    }
}

.link { 
    text-decoration: none;
    &:hover { 
        text-decoration: underline; 
    }
}

.logo { 
    // font-size: 200%; 
    color: $black; 
    font-weight: 900; 
}