// recipe display 

.recipe-header { 
    background: $color4; 
    padding: 20px; 
    margin-bottom: 20px; 
    overflow: hidden; // need to if you have aligned items 
    color: $color2; 

    // first section 
    .recipe-description { 
        width: 60%; 
        float: left; 
        .recipe-name { 
            margin-top: 0px;
            font-size: 150%; 
            text-align: center;
            color: $color1; 
            text-shadow: 1px 1px $color5; 
        }
    }
    // second section 
    .picture-area { 
        float: right; 
        background: $color5; 
        height: 160px;
        width: 240px;
    }
    .section-title {
        font-size: 80%; 
        font-weight: bold; 
    }
    .section-text { 
        font-size: 80%; 
    }
}

.recipe-section { 
    overflow: hidden; 
    padding-left: 20px; 
    padding-right: 20px; 

    // ingredients 
    .ingredients { 
        width: 38%; 
        float: left;

        @include media-xxs { 
            width: 100%; 
        }
        @include media-xs {
            width: 100%; 
        }
    }

    // directions 
    .directions { 
        width: 60%; 
        float: right; 

        @include media-xxs { 
            width: 100%; 
        }
        @include media-xs {
            width: 100%;  
        }
    }


}

.row-title { 
    font-weight: bold; 
}

img {
    max-width: 100%;
    max-height: 100%;
}
