.recipeOne { 
    width: 60%; 
    background-color: yellow; 
    margin-left: 40px; 
    padding: 20px 20px 20px 20px; 
}

.recipe-title { 
    margin-top: 20px; 
    font: 200% $standard-font; 
}

.row-container { 
    background-color: blue; 
    margin: 20px 20px 20px 20px; 
}

.row-title { 
    margin-top: 20px; 
    font: 150% $standard-font; 
    background-color: red; 
}

.section-title { 
    font: 100% $standard-font; 
    background-color: white; 
}