// hard refresh Command shift R 
@import 'color-scheme'; 

body {
  color: $black;
  font-family: $standard-font; 
  background: $light-grey; 
  margin: 0px; 
  padding: 0px; 
}

h1 { 
  font: 300% $standard-font; 
  color: $light-pink; 
}

h2 { 
  font: 200% $standard-font; 
  color: $black; 
}

p { 
  font: 100% $standard-font; 
  color: $black; 
}

// imports 
@import 'home';
@import 'form';
@import 'navbar';
@import 'list'; 
@import 'recipe';