// top-level SASS
@import 'mediaquery';
@import 'color-scheme'; 

body {
  font-family: $standard-font; 
  font-size: $standard-font-size;
  // background: $color3; 
  // background-color: #F5EAD9; // awesome yellow color 
  background-color: #FCF8F2; 
  background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
  margin: 0px; 
  padding: 0px; 

  // media queries
  // @include media-xxs {
  //   // background-color: yellow; 
  // }

  // @include media-xs {
  //   // background: green; 
  // }

  // @include media-sm {
  //   // background: blue; 
  // }

  // @include media-md {
  //   // background: orange; 
  // }

  // @include media-lg {
  //   // background: pink; 
  // }
}

h1 { 
  font: 3*$standard-font-size $standard-font; 
  font-family: $chewy-font; 

  @include media-xxs {
    font-size: 12px;
  }
}

h2 { 
  font: 2*$standard-font-size $standard-font; 
  color: $color5; 
}

p { 
  font: $standard-font-size $standard-font; 
  color: $color5; 
}

a {
    text-decoration: none;
    &:visited, &:link, &:active {
        color: $color5; 
    } 
    &:hover,  { 
        color: $color4; 
    }
}

// imports 
@import 'home';
@import 'form';
@import 'navbar';
@import 'recipe';