<md-dialog>

    <form name="recipeForm" layout="column" ng-cloak class="md-inline-form">
        <div>
            <md-content layout-gt-sm="row" layout-padding>
                <div>
                    <md-input-container>
                        <label>Recipe Name</label>
                        <input ng-model="recipe.name">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Author's Full Name</label>
                        <input ng-model="recipe.author" required="">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Tags</label>
                        <md-chips ng-model="recipe.tags"
                            placeholder="Enter a tag"
                            secondary-placeholder="+Tag">
                        </md-chips>
                    </md-input-container>
                </div>
            </md-content>

            <md-content layout-gt-sm="row" layout-padding>
                <div>
                    <md-input-container class="md-block">
                        <label>Yield</label>
                        <input ng-model="recipe.recipeYield" required=""  min="1">
                    </md-input-container>

                    <div class="md-block">
                        <label>Ingredients are delicious</label>
                        <div class=md-block ng-repeat="ingredient in recipe.ingredients track by $index">
                            <md-input-container>
                                <input ng-model="recipe.ingredients[$index]"></input>
                            </md-input-container>
                        </div>
                    </div>

                    <div class="md-block">
                        <label>Instructions</label>
                        <div ng-repeat="instruction in recipe.instructions track by $index">
                            <md-input-container>
                                <input ng-model="recipe.instructions[$index]"></input>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            <md-content>
        </div>

        <md-dialog-actions layout="row">
            <md-button ng-click="saveRecipe(recipe)">
                Save
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
  </form>

</md-dialog>
