<!-- jumbotron -->
<div class="jumbo">
  <div class="container">
    <h1>Noms</h1>
    <p>A website for you to add and rate recipes</p>
    <p>
      <a class="btn btn-success btn-lg" role="button" href="/recipes"> View Recipes</a>
    </p>
  </div>
</div>
<!-- end jumbotron  -->

<!-- Three sections  -->
<div class="three-sections">

    <section class="">
        <h2>Submit Recipes</h2>
        <p>Share your amazing recipes with your fellow cooks so that they can cook and rate your creations.</p>
        <p><a href="/recipes/new" role="button">Share Now</a></p>
    </section>

    <section class="">
        <h2>View All Recipes</h2>
        <p>Check all of the recipes in the book! If you add more, you will obviously see more!</p>
        <p><a class="btn btn-primary" href="/recipes" role="button">Find Recipes</a></p>
    </section>

    <section class="">
        <h2>Search by Ingredient</h2>
        <p>Have limited items in your fridge? Search through all the recipes by relevant ingredients!</p>
        <p><a class="btn btn-primary" href="/ingredients" role="button">Search Now</a></p>
    </section>
</div>
<!-- End three sections  -->