<!-- navbar -->
<script src="https://cdn.auth0.com/js/lock-8.2.min.js"></script>

<nav role="navigation" ng-controller="NavbarCtrl">
  <div>

    <!-- site name -->
    <div>
      <a href="/">NomsBook</a>
    </div>

    <!-- nav links-->
    <div>
      <ul class="nav-list">
        <li><a href="/recipes">Recipe List</a></li>

        <li class="dropdown">
          <a href="#" data-toggle="dropdown">Create Recipes and Ingredients
            <span class="caret"></span>
          </a>
          <ul role="menu">
            <li><a href="/recipes/new">Create New Recipe</a></li>
            <li><a href="/ingredients/new">Create New Ingredients</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" data-toggle="dropdown">Queries
            <span class="caret"></span>
          </a>
          <ul role="menu">
            <li><a href="/ingredients">Find by Ingredient</a></li>
          </ul>
        </li>
      </ul>

      <ul>
        <li><a ng-show="!user.email" ng-click="showLogin()" href="#">
          <span class="fa fa-social fa-google">
          </span> Login</a>
        </li>
        <li>
          <a ng-show="user.email" href="#">Welcome {{ user.givenName || user.email }}</a>
        </li>
      </ul>
    </div>


  </div><!-- /.container-fluid -->
</nav>
<!-- end navbar -->
