<!--  individual recipe  -->
<div ng-controller="Recipe">

    <div class="recipe-header">
        <div class="recipe-description"> 
            <h2 class="recipe-name">{{ recipe.name }}</h2> 
            <div class="row-section">
                <div>
                    <span class="section-title">Author:</span>
                    <span class="section-text">{{ recipe.author }}</span>
                </div>
                <div>
                    <span class="section-title">User:</span>
                    <span class="section-text">{{ recipe.user.givenName }} {{ recipe.user.familyName }} ({{ recipe.user.email}})</span>
                </div>
                <div>
                    <span class="section-title">Last Modified:</span>
                    <span class="section-text">{{ recipe.modified }}</span>
                </div>
                <div>
                    <span class="section-title">Recipe Yield:</span>
                    <span class="section-text">{{ recipe.recipeYield }}</span>
                </div>
                <div>
                    <span class="section-title">Tags:</span>
                    <div class="section-text" ng-repeat="tag in recipe.tags">
                        <div class="tag">{{ tag }}</div> 
                    </div>
                </div>
            </div>
        </div> 
        <div class="picture-area">
            <div class="recipe-image">
                <img src="https://media.blueapron.com/recipes/622/c_main_dish_images/20160117-2058-3089-7566/R_011316_2_ChickenSagePotPie_20-_201354_splash_feature.jpg">
            </div>​
        </div>
    </div>

    <div class="recipe-section">
        <!-- Ingredient sections  -->
        <div class="ingredients">
            <span class="row-title">INGREDIENTS</span>
            <ul ng-repeat="ingredient in recipe.ingredients">
                <li>{{ ingredient }}</li>
            </ul>
        </div>

        <!-- Directions -->
        <div class="directions">
            <span class="row-title">DIRECTIONS</span>
            <!-- Eventually we will have 3 sections: Prep, Cook, Ready In  -->
            <ul ng-repeat="instruction in recipe.instructions">
                <li>{{ instruction }}</li>
            </ul>
        </div>
</div>