<!-- alert  -->
<div>
    <div ng-show="message === 'success'" class="alert-message">
        Your recipe was successfully saved! 
    </div>
    <div ng-show="message === 'error'" class="alert-message">
        Something went wrong with your save! 
    </div>
</div>

<!--  individual recipe  -->
<form ng-controller="Recipe" editable-form name="recipeForm" onaftersave="saveRecipe()">

    <div class="form-button-group">
        <!-- button to show form -->
        <button type="button" class="form-button" ng-click="recipeForm.$show()" ng-show="!recipeForm.$visible">
            <i class="fa fa-pencil" aria-hidden="true"></i> 
        </button>
        <!-- buttons to submit / cancel form -->
        <span ng-show="recipeForm.$visible">
            <button type="submit" class="form-button" ng-disabled="recipeForm.$waiting">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
            <button type="button" class="form-button" ng-disabled="recipeForm.$waiting" ng-click="recipeForm.$cancel()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </span>
    </div>

    <div class="recipe-header">
        <div class="recipe-description"> 
            <h2 href="#" editable-text="recipe.name" class="recipe-name" e-required>{{ recipe.name }}</h2> 
            <div class="row-section">
                <div>
                    <span class="section-title">Author:</span>
                    <span href="#" editable-text="recipe.author" class="section-text" e-required>{{ recipe.author }}</span>
                </div>
                <div>
                    <span class="section-title">User:</span>
                    <span href="#" class="section-text">{{ recipe.user.givenName }}</span>
                    <span href="#" class="section-text">{{ recipe.user.familyName }}</span> 
                    <span href="#" class="section-text">({{ recipe.user.email}})</span> 
                </div>
                <div>
                    <span class="section-title">Last Modified:</span>
                    <span class="section-text">{{ recipe.modified }}</span>
                </div>
                <div>
                    <span class="section-title">Recipe Yield:</span>
                    <span href="#" editable-text="recipe.recipeYield" class="section-text" e-required>{{ recipe.recipeYield }}</span>
                </div>
                <div>
                    <span class="section-title">Tags:</span>


                    <div class="section-text" ng-repeat="tag in recipe.tags">
                        <div class="tag">{{ tag }}</div> 
                    </div>
                </div>
            </div>
        </div> 
        <div class="picture-area">
            <div class="recipe-image">
                <img src="https://media.blueapron.com/recipes/622/c_main_dish_images/20160117-2058-3089-7566/R_011316_2_ChickenSagePotPie_20-_201354_splash_feature.jpg">
            </div>​
        </div>
    </div>

    <div class="recipe-section">
        <!-- Ingredient sections  -->
        <div class="ingredients">
            <span class="row-title">INGREDIENTS</span>
            <ul ng-repeat="ingredient in recipe.ingredients">
                <li>
                    <i class="fa fa-check" aria-hidden="true"></i>
                    {{ ingredient }}
                </li>
            </ul>
        </div>

        <!-- Directions -->
        <div class="directions">
            <span class="row-title">DIRECTIONS</span>
            <!-- Eventually we will have 3 sections: Prep, Cook, Ready In  -->
            <ul ng-repeat="instruction in recipe.instructions">
                <li>
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    {{ instruction }}
                </li>
            </ul>
        </div>
    </div>
</form>