<md-dialog aria-label="Edit Recipe">

  <form name="recipeForm" style="max-width:800px;max-height:810px; ">
    <div>
        <md-dialog-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
          <div>
              <md-input-container class="md-block" flex-gt-xs="">
                  <label>Author's Full Name</label>
                  <input ng-model="recipe.author" required="">
                </md-input-container>
          </div>
        </md-dialog-content>

        <md-dialog-content>
          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs="">
              <label>Recipe Name</label>
              <input ng-model="recipe.name" required="">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs="">
                <label>Yield</label>
                <input ng-model="recipe.recipeYield" required="" type="number" min="1">
              </md-input-container>
          </div>
    
          <md-input-container class="md-block">
            <label>Tags</label>
            <textarea ng-model="recipe.tags" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Ingredients</label>
            <textarea ng-model="recipe.ingredients" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Instructions</label>
            <textarea ng-model="recipe.instructions" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
          </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('not useful')">
        Save
      </md-button>
      <md-button ng-click="answer('useful')">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>