<div class="jumbo">
    <h1>New Recipe</h1>
</div>

<md-content layout-padding="" ng-controller="NewRecipeCtrl">
    <div>
        <form name="userForm">
            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-xs="">
                <label>Recipe Name</label>
                <input ng-model="recipe.name">
              </md-input-container>

              <md-input-container>
                <label>Last Made</label>
                <md-datepicker ng-model="user.submissionDate"></md-datepicker>
              </md-input-container>
            </div>

            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-xs="">
                <label>Author</label>
                <input ng-model="recipe.author">
              </md-input-container>
            </div>

            <md-input-container class="md-block">
              <label>Ingredients</label>
              <textarea ng-model="recipe.ingredients" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
            </md-input-container>


            <md-input-container class="md-block">
              <label>Instructions</label>
              <textarea ng-model="recipe.instructions" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
            </md-input-container>
        </form>

        <!-- button -->
        <div class="form-row">
           <input type="submit" ng-click="update(recipe)" value="Save" />
        </div> 

        <!-- ok message -->
        <div class="alert-message" ng-show="ok">{{ message }}</div> 
    </div>
</md-content>
